// .parent_blog{
//     width: 14rem;
//     padding: 1rem;
//     border: 1px solid transparent;
//     box-sizing: border-box;
//     overflow-wrap: break-word;
//     box-shadow: 0.0625rem 0.125rem 0.625rem 0px #0000001a;
//     border-radius: 1rem;
// }
.parent_blog {
  display: inline-block;
  /*requiredforcolumnlayout*/width: 14rem;
  /*fillthecolumn*/margin-bottom: 1.5rem;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  /*subtleborder*/background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  padding: 1rem;
  margin-bottom: 2.3rem;
  transition: all 0.3s ease;
  &:hover
  
{
    border: 1px solid rgb(221, 154, 45);
    box-shadow: 0 0 20px  oklch(84.16% 0.1169 71.19);
  transform: translateY(-5px);
    scale: 1.03;
  }
  
  
  
}

.blog_title{
    font-size: 1.5rem;
    font-weight: 400;
}
.blog_description{
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.bloglink{
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: blue;
  list-style: none;
}
.bloglink {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: blue;
  }

  .arrowIcon {
    margin-left: 0.5rem; /* ml-2 */
    transition: transform 0.2s ease;
  }

  &:hover .arrowIcon {
    transform: translateX(0.25rem); /* group-hover:translate-x-1 */
  }
  
}